@model Hotel_Room_Reservation_System_Test.Models.CancellationPolicy

<h1>Policy Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Policy Name:</dt>
        <dd class="col-sm-10">@Model.PolicyName</dd>
        <!-- Add other fields as needed -->
    </dl>
</div>
