@model Hotel_Room_Reservation_System_Test.Models.CancellationPolicy

<h1>Edit Cancellation Policy</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="id" />
    <div class="form-group">
        <label asp-for="PolicyName">Policy Name</label>
        <input asp-for="PolicyName" class="form-control" />
        <span asp-validation-for="PolicyName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PolicyDescription">Policy Name</label>
        <input asp-for="PolicyDescription" class="form-control" />
        <span asp-validation-for="PolicyDescription" class="text-danger"></span>
    </div>
    <!-- Add other fields as needed -->
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
