@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Hotel Room Welcomes You";

    var httpContext = HttpContextAccessor.HttpContext;
    var role = httpContext?.Session.GetString("Role");

    // Debugging: Print out the retrieved role
    Console.WriteLine($"Retrieved Role: {role}");
}

@{
    ViewData["Title"] = "Hotel Room Welcomes You";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hotel_Room_Reservation_System_Test.styles.css" asp-append-version="true" />
 <style>
        .navbar {
            background-color: #007bff; /* Navbar background color */
        }

        /* Customize the navigation links */
        .navbar-nav .nav-item {
            /* Adjust spacing between navigation items */
            margin-left: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .navbar-nav .nav-link {
            color: #fff; /* Link text color */
            font-weight: bold;
            transition: color 0.3s; /* Smooth color transition on hover */
        }

            .navbar-nav .nav-link:hover {
                color: #f8f9fa; /* Link text color on hover */
            }

        /* Center the navbar brand */
        .navbar-brand {
            color: #fff;
            font-weight: bold;
            margin-right: 100px;
        }

        /* Container styles */
        .container {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        /* Footer styles */
        .footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #333; /* Choose your desired background color */
            color: #fff; /* Choose your desired text color */
            padding: 10px 0;
            text-align: center;
        }

        .search-container {
            margin-top: 5px;
            margin-left: 15px;
            display: flex; /* Make the container a flexbox */
            align-items: center; /* Align search bar vertically in the center */
            width: 100%; /* Make the container take up full width */
            border: 1px solid #000;
            
        }

        input {
            outline: none;
            border: 3px solid #000;
            flex: 1; /* Make the input element expand to fill remaining space */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Add the navigation links with conditional rendering -->
                <ul class="navbar-nav flex-grow-1">
                    @if (!string.IsNullOrEmpty(role))
                    {
                        if (role == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HomePage">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Room" asp-action="Index">Room</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="RoomImage" asp-action="Index">RoomImages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="Index">Reservation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">User</a>
                            </li>
                            <li>
                                <div class="search-container">
                                    <input type="text" id="searchInput" onkeyup="searchFunction()" placeholder="Search...">
                                    <button id="searchButton" onclick="searchFunction()">Search</button>
                                </div>
                            </li>                       
                        }
                        else if (role == "User")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="News">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="UserProfile" asp-action="Index">Profile</a>
                            </li>
                            <li>
                                <div class="search-container">
                                    <input type="text" id="searchInput" onkeyup="searchFunction()" placeholder="Search...">
                                    <button id="searchButton" onclick="searchFunction()">Search</button>
                                </div>
                            </li>                         
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    }                  
                </ul>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Hotel_Room_Reservation_System_Test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
